# local env files
.env

# data
/data

# json assets
/assets/**/*.json

# pycache
**/__pycache__/

# jupyter notebooks
*.ipynb
/.ipynb_checkpoints

# node modules
/node_modules
/.pnp
.pnp.js
pnpm-lock.yaml

# temporary files
/temp

# python virtual environment
/.venv
/venv

# ruff
/.ruff_cache

# libre office lock
.~lock.*

# VS Code
/.vscode