# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# pip freeze > <this file>
# pip install -r <this file>

asyncio
bs4
dash
fathon
folium
#fracdiff #windows (msys2): pacman -Ss mingw-w64-x86_64-openblas
geopandas
glom
httpx
matplotlib
numba
numpy
pandas
#polars
pycountry
pydantic
python-dotenv
requests
ruff
scikit-learn
scipy
sqlalchemy
statsmodels
tinydb
wbgapi