# venv: python -m venv ./<env>
# <env>\scripts\activate.<bat/ps1>
# conda: conda create --name <env> --file <this file>
# pip freeze > <this file>
# pip install -r <this file>

aiometer
asyncio
branca
bs4
dash
dash-ag-grid
#dash-bootstrap-components
dash-extensions
dash-leaflet
#dash-mantine-components
fathon
#folium
#fracdiff #(msys2): pacman -Ss mingw-w64-x86_64-openblas
#geobuf
geopandas
glom
httpx
lxml
matplotlib
numba
numpy
ordered-set
pandas
#polars
protobuf==3.20
pycountry
pydantic
python-dotenv
pyyaml
requests
scikit-learn
scipy
sqlalchemy
statsmodels
tinydb
tinydb-serialization
topojson
wbgapi